
th.integer {
  text-align: center;
}

th.money {
  text-align: right;
}

tbody > tr > td.money,
tfoot > tr > td.money {
  white-space: nowrap;
}

tbody > tr > td,
tfoot > tr > td.data {
  font-family: monospace;
}

div.invoices-app-footer {
  width: auto;
  height: 60px;
}